.headerContainer {
    width: 8000px;
    display: flex;
    position: sticky;
    top: 0;

}

.productHeader {
    min-width: 200px;
    height: 60px;
    word-wrap: break-word;
    text-align: center;
    box-shadow: inset 0px 0px 3px 0px #3DDB3D;

}

.timeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.year {
    text-align: center;
    box-shadow: inset 0px 0px 3px 0px #3DDB3D;
}

.month {
    text-align: center;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0px 0px 3px 0px #3DDB3D;

}

.weekContainer {
    max-width: 1400px;
    display: flex;
}

.week {
    text-align: center;
    min-width: 200px;
    background-color: white;
    box-shadow: inset 0px 0px 3px 0px #3DDB3D;
}

.cellInput {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    font-size: 14px;
    height: 15px;
}

#input {
    font-size: 14px;
}