.headerContainer {
    width: 11000px;
    display: flex;
    position: sticky;
    top: 0;
    border: 1px solid green;

}

.productHeader {
    min-width: 200px;
    height: 60px;
    word-wrap: break-word;
    text-align: center;

}

.timeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.month {
    text-align: center;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.weekContainer {
    max-width: 1000px;
    display: flex;
}

.week {
    text-align: center;
    min-width: 200px;
    background-color: aqua;

}

.cellInput {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    font-size: 14px;
    height: 15px;
}

#input {
    font-size: 14px;
}